
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

/** Visualización para dispositivos móviles **/
.container{
    background-color: #EAC926;
}

/** Primer bloque que contiene primer y segunda barra de navegación  **/
header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #EAC926;
}

/** Primer barra de navegación **/
.top-bar-logo{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.logo{
    width: 200px;
    padding: 10px;
}

.buscador{
    padding: 12px;
}

.anuncio{
    margin: auto;
    padding: 15px;
    font-size: 10px;
    text-align: center;
}

/** Segunda barra de navegación oculta en dispositivos móviles **/
.nav-seccion{
    display: none;
}

/** Menú comprimido que mostrará la barra de navegación en dispositivos móviles **/
.burger-menu{
    margin: auto;
    font-size: 30px;
    display: block;
    max-width: 45px;
    background-color: #1259c3;
    color: white;
    text-align: center;
    border-radius: 5px;
}

/** Sección del Banner **/
.banner-section{
    margin-top: 170px;
}

.banner{
    width: 100%;
    margin: auto;
    padding-top: 10px;
}

/** Cuerpo del sitio con despliegue de productos **/
main{
    width: 90%;
    margin: auto;
    padding: 10px;
}

#titulares{
    margin-top: 10px;
    font-size: 18px;
}

article{
    margin-top: 10px;
    padding: 5px;
    background-color: white;
}

article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #39b54a;
    border: solid 1px #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    left: 90%;
    top: -30px;
}

article i:hover{
    animation: girar 1s;
}

@keyframes girar {
    50% {transform: rotate(-90deg)};
}

.articulo-imagen{
    width: 100%;
    margin: auto;
}

.articulo-info{
    background-color: white;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

#articulo-precio{
    font-size: 18px;
}

#articulo-descuento{
    font-size: 16px;
    color: #39b54a;
}

#articulo-descripcion{
    display: none;
    font-size: 16px;
    color: white;
    background-color: balck;
}

footer{
    width: 100%;
    height: auto;
    background-color: #EAC926;
    color: #03264C;
    text-align: center;
}

#footer-icon{
    font-size: 2em;
    margin-top: 30px;
}

#footer-icon:hover{
    color: #0022AA;
}

.footer-titulo{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
}

.footer-descripcion{
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}

.footer-copyright{
    margin-top: 30px;
    font-size: 15px;
    color: #03264C;
    font-weight: bold;
    text-align: center;
}

/** Estilo para los formularios **/
.form-createProduct{
    padding: 20px 15px;
}

.form-control{
    margin-bottom: 15px;
}

.offer{
    display: flex;
    flex-direction: row;
    max-width: 150px;
    justify-content: space-between;
}

.form-control label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control{
    width: 100%;
    padding: 8px 8px;
}

.profile{
    display: flex;
    flex-direction: column;
}

.profile-options{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.profile-options-text{
    width: 50px;
}

.form-button{
    background-color: #39b54a;
    border: none;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color, 450ms;
}

.form-button:hover{
    background-color: #0022AA;
}


/**Estilo para pc's de escritorio**/
@media only screen and (min-width: 769px) {
.top-bar{
        display: flex;
        flex-direction: row;
    }
.top-bar-logo{
    width: 75%;
}
.logo{
        width: 400px;
        margin: auto;
        padding: 5px;
    }
.buscador{
        width: 300px;
        margin: auto;
        padding: 10px;
        text-align: center;
    }
.anuncio{
    max-width: 400px;
    text-align: right;
    font-size: 14px;
}
.nav-seccion{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.nav-seccion ul{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.nav-seccion ul li{
    margin: 0px 15px;
}
.nav-menu a{
    font-size: 18px;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px 0px;
}
.nav-usuarios a{
    font-size: 18px;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px 0px;
}
.burger-menu{
    display: none;
}
.productos{
    display: flex;
    flex-direction: row;
}
.ofertas{
    display: flex;
    flex-direction: row;
}

article:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

article{
    margin: 5px;
    padding: 5px;
    background-color: white;
}
#articulo-descripcion{
    display: block;
    font-size: 16px;
}
}

@media only screen and (min-width: 1200px) {
    header{
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1;
        background-color: #EAC926;
    }

    .banner-section{
        margin-top: 180px;
    }
    
    main{
        width: 90%;
        margin: auto;
        padding: 10px;
    }
    
    footer{
        max-width: 1200px;
        margin: auto;
    }
    .productos{
        display: flex;
        flex-direction: row;
    }
    .nav-menu a{
        font-size: 25px;
        text-decoration: none;
        color: black;
        display: inline-block;
        padding: 5px 0px;
    }
    .nav-usuarios a{
        font-size: 25px;
        text-decoration: none;
        color: black;
        display: inline-block;
        padding: 5px 0px;
    }

    article{
        position: relative;
    }

    #articulo-descripcion:hover{
        opacity: 1;
    }

    #articulo-descripcion{
        display:inline-block;
        width: 100%;
        height: 100%;
        padding-top: 190px;
        font-size: 20px;
        background-color: rgba(0,0,0,0.5);
        color: white;
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
        opacity: 0;
        transition: all, 450ms;
    }

    footer{
        display: flex;
        flex-direction: row;
    }
}